// 页面基本样式
@mixin html() {
  html {
    -webkit-appearance: none; // 消除输入框和按钮的原生外观
    -webkit-text-size-adjust:none; // 允许chrome 字体小于12px
    -webkit-user-select:none; // 禁止页面文字选择
    font-size: 100px; // 1rem = 100px
  }
}

// body基本样式
@mixin body($pageColor: #fff, $fontColor: #333) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    background-color: $pageColor;
    color: $fontColor;
    font-family: "Helvetica Neue Regular",PingFangSC-Light,"Helvetica Neue", Helvetica, STHeiTi,"Microsoft YaHei", sans-serif;
    font-size: 0.14rem;
    letter-spacing: 0.01rem;
    margin: 0;
    min-height: 100%;
    user-select: none;
    visibility: visible;
  }
}

// 移动端通用样式
@mixin mobile() {
  @media only screen and (min-width: 0) and (max-width: 736px) {
    html,body{
      height: 100%; // 配合-webkit-overflow-scrolling: touch;，不能省
      overflow: auto; // 配合-webkit-overflow-scrolling: touch;，不能省
      -webkit-overflow-scrolling: touch; // Native端滚动时模拟原生的弹性滚动效果
      -webkit-tap-highlight-color: transparent; // IOS 禁用链接点击时半透明背景
      -webkit-touch-callout: none; // IOS 禁用长按页面时的弹出菜单
    }
  }
}

// 通用主题样式
@mixin common() {
  [v-cloak] {
    display: none!important;
  }
  
  ul {
    margin: 0;
    padding: 0;
  
    li {
      list-style: none;
    }
  }
  
  a {
    color: #333;
    text-decoration: none;
    transition: all 0.4s ease;
  
    &:link, &:visited, &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  input {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color .3s;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
    }
  }

  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table {
    border-collapse:collapse;
  
    thead {
      box-shadow: none;
  
      th {
        text-align: left;
        text-transform: none;
      }
    }
    tbody {
      td {
        text-align: left;
      }
    }
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }

  .capitalize {
    text-transform: capitalize;
  }
}

// 表单主题样式
 @mixin form() {
  form {
    & input[type="password"], input[type="text"], input[type="submit"] {
      @include if_mobile() {
        width: 100%;
      }
    }
  
    & label, input[type="text"], input[type="password"] {
      border-radius: 0.025rem;
      padding: 0.1rem;   
    }

    .pre-icon {
      position: absolute;
      border-bottom-left-radius: 0.025rem;
      border-top-left-radius: 0.025rem;
      padding-left: 0.125rem;
      padding-right: 0.125rem;
      left: -0.4rem;
      background-color: #222222;
    }

    & input[type="text"], input[type="password"] {
      background-color: #ffffff;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      &:focus,
      &:hover {
        background-color: #eeeeee;
      }
    }

    .form-field {
      display: flex;
      margin-bottom: 0.2rem;
    }

    .el-select {
      @include if_mobile() {
        width: 100%;
      }
    }
  }
}

// 自定义主题样式
@mixin theme() {
  $mainForeColor: #00B9BC;
  $activeForeColor: #197071;

  .btn {
    padding: 0.1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.025rem;
    cursor: pointer;

    &.primary {
      background-color: $mainForeColor;
      color: #eee;

      &:focus,
      &:hover {
        background-color: $activeForeColor;
      }
    }

    &.cancel {
      margin-left: 0.04rem;
      min-width: 0.3rem;

      &:focus,
      &:hover {
        color: rgb(110, 110, 110);
      }
    }

    &.frame {
      border: 1px solid $mainForeColor;

      &:focus,
      &:hover {
        background-color: $mainForeColor;
      }
    }

    &.frame-fake {
      border: 1px solid transparent;

      &:focus,
      &:hover {
        border-color: $mainForeColor;
        background-color: $mainForeColor;
      }
    }

    &[disabled] {
      background-color: grey;
    }
  }

  .main-content {
    margin: 0.2rem;
  }

  .strong {
    font-weight: bold;
    font-size: 1.2em;
  }

  .small {
    font-size: 0.12rem;
  }

  .el-submenu .el-menu-item {
    min-width: 1rem;
  }
}

// 屏幕适配
@mixin mediaScreen($maxWidth: 736px, $minWidth: 0) {
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      @content;
    }
}

@mixin if_mobile() {
    @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 812px) {
        @content;
    }
}

@mixin if_small_mobile() {
    @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 365px) {
        @content;
    }
}

//2x图
@mixin media2x($url){
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

      background-image: $url;

  }
}

// IE10 ~ IE11
@mixin isIE(){
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}